body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter";
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 14px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.mainobject{
 background-color: hsl(0, 0%, 12%);
 

}